name: registry-213
on:
  issues:
    types: [opened]
jobs:
  update-commit-push:
    if: ${{ !github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Create local changes
        run: |
          echo 'another line' >> local-changes.txt
      - uses: actions-js/push@master
        with: 
          github_token: ${{ secrets.GITHUB_TOKEN }}
          author_email: yanik.ceulemans@gmail.com
          author_name: Yanik Ceulemans
          force: true
          branch: master
